<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }" *ngIf="user">
    <alert></alert>
    <router-outlet></router-outlet>
</div>


<div class="app-container" [ngClass]="{ 'bg-light': user }" *ngIf="!user">
    <section class='view bg' >
        <!--Navigation bar-->
        <!--Container-->
        <div class="d-flex align-items-center nav-color">
            
            <!--Logo-->
            <div class="col-3 nopadding">
                <img class="logo" src="assets/img/transparent-logo.png">
            </div>
            <!--Title text-->
            <div class="col-6">
                <div class="example text-center">
                    Next Generation Laboratory (LIMS)
                </div>
            </div>
            
        </div>
        <alert></alert>
        <router-outlet></router-outlet>
    </section>
</div>


<!-- credits -->
<div class="text-center mt-4">
    
    <p>
        Custom made by:
    </p>
    <a href="https://fontmeme.com/signature-fonts/"><img src="https://fontmeme.com/permalink/200831/ec5cea1cb0b12d2b277ac1fa25695c4b.png" alt="signature-fonts" border="0"></a>
    
    <p>
        <a href="https://jasonwatmore.com/post/2020/07/18/angular-10-user-registration-and-login-example-tutorial" target="_top">Angular 10 - User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>